<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

    


    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
    
          <li class="nav-item">
            <a class="nav-link" routerLink="/movies">All Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="">Favourite Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add">Add a Movie</a>
          </li>
    
        </ul>
      </div>
</nav>